<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>System.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFriends</servlet-name>
        <servlet-class>Stud.viewFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFriend</servlet-name>
        <servlet-class>Stud.deleteFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptStudent</servlet-name>
        <servlet-class>JavaCode.admin.AcceptStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectStudent</servlet-name>
        <servlet-class>JavaCode.admin.RejectStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllStudents</servlet-name>
        <servlet-class>JavaCode.admin.SelectAllStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignedView</servlet-name>
        <servlet-class>Stud.AssignedView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestFriend</servlet-name>
        <servlet-class>Stud.requestFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showRequestFriend</servlet-name>
        <servlet-class>Stud.showRequestFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchingFriend</servlet-name>
        <servlet-class>Stud.searchingFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchingFriendByName</servlet-name>
        <servlet-class>Stud.SearchingFriendByName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationStudent</servlet-name>
        <servlet-class>registrationValidation.RegistrationStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationValidation</servlet-name>
        <servlet-class>registrationValidation.RegistrationValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>emailValidation</servlet-name>
        <servlet-class>registrationValidation.emailValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignViewFriend</servlet-name>
        <servlet-class>Stud.AssignViewFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnDropdown</servlet-name>
        <servlet-class>Stud.returnDropdown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSchoolValidation</servlet-name>
        <servlet-class>AdminValidation.addSchoolValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifySchoolValidation</servlet-name>
        <servlet-class>AdminValidation.modifySchoolValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptFriend</servlet-name>
        <servlet-class>Stud.acceptFriend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dropdownSchool</servlet-name>
        <servlet-class>System.dropdownSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>System.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signoutAdmin</servlet-name>
        <servlet-class>System.signoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignedAdditional</servlet-name>
        <servlet-class>Stud.AssignedAdditional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToShoppingCart</servlet-name>
        <servlet-class>Stud.AddToShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateSchedule</servlet-name>
        <servlet-class>Stud.GenerateSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetriveCourseInformation</servlet-name>
        <servlet-class>Stud.RetriveCourseInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAllCourses</servlet-name>
        <servlet-class>Stud.SelectAllCourses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignedView</servlet-name>
        <url-pattern>/AssignedView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAssign</servlet-name>
        <url-pattern>/addAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAssign</servlet-name>
        <url-pattern>/deleteAssign</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAssign</servlet-name>
        <servlet-class>Stud.addAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAssign</servlet-name>
        <servlet-class>Stud.deleteAssign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFriends</servlet-name>
        <url-pattern>/viewFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFriend</servlet-name>
        <url-pattern>/deleteFriend</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSchool</servlet-name>
        <servlet-class>JavaCode.admin.DeleteSchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteSchool</servlet-name>
        <url-pattern>/DeleteSchool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStudentAcc</servlet-name>
        <servlet-class>JavaCode.admin.DeleteStudentAcc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentAcc</servlet-name>
        <url-pattern>/DeleteStudentAcc</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifySchool</servlet-name>
        <servlet-class>JavaCode.admin.ModifySchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifySchool</servlet-name>
        <url-pattern>/modifySchool</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectAllSchools</servlet-name>
        <servlet-class>JavaCode.admin.SelectAllSchools</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectAllSchools</servlet-name>
        <url-pattern>/SelectAllSchools</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSchool</servlet-name>
        <servlet-class>JavaCode.admin.AddSchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSchool</servlet-name>
        <url-pattern>/AddSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptStudent</servlet-name>
        <url-pattern>/AcceptStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectStudent</servlet-name>
        <url-pattern>/RejectStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllStudents</servlet-name>
        <url-pattern>/SelectAllStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestFriend</servlet-name>
        <url-pattern>/requestFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showRequestFriend</servlet-name>
        <url-pattern>/showRequestFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchingFriend</servlet-name>
        <url-pattern>/searchingFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchingFriendByName</servlet-name>
        <url-pattern>/SearchingFriendByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationStudent</servlet-name>
        <url-pattern>/RegistrationStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationValidation</servlet-name>
        <url-pattern>/RegistrationValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>emailValidation</servlet-name>
        <url-pattern>/emailValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignViewFriend</servlet-name>
        <url-pattern>/AssignViewFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>returnDropdown</servlet-name>
        <url-pattern>/returnDropdown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSchoolValidation</servlet-name>
        <url-pattern>/addSchoolValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifySchoolValidation</servlet-name>
        <url-pattern>/modifySchoolValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptFriend</servlet-name>
        <url-pattern>/acceptFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dropdownSchool</servlet-name>
        <url-pattern>/dropdownSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signoutAdmin</servlet-name>
        <url-pattern>/signoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignedAdditional</servlet-name>
        <url-pattern>/AssignedAdditional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToShoppingCart</servlet-name>
        <url-pattern>/AddToShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateSchedule</servlet-name>
        <url-pattern>/GenerateSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetriveCourseInformation</servlet-name>
        <url-pattern>/RetriveCourseInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAllCourses</servlet-name>
        <url-pattern>/SelectAllCourses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <!--<login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/index.jsp</form-login-page>
            <form-error-page>/invalidLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>-->
</web-app>
